@import './fonts.css';
@import './lds-ring.css';

body {
  font-family: 'Poppins-Regular';
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.clickable:hover {
  cursor: pointer;
}

th,
td {
  border-bottom: none !important;
}

.aside {
  padding: 8px;
  height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
}
.aside-header {
  padding: 4px 8px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-bottom: 8px;
}
.aside-content {
  padding: 4px;
  background-color: #f2f2f2;
  border-radius: 8px;
  flex: 1;
}

.chat-message-system {
  background-color: #fff;
  border-radius: 16px 16px 16px 0;
}
.chat-message-user {
  background-color: rgb(100, 232, 118);
  border-radius: 16px 16px 0 16px;
}
